<div>
  <div>
    <h1>
      Wedding Vendors
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <table class="table table-bordered">

        <th>
          Name
        </th>

        <th>
          Category
        </th>

        <th>
          Geography
        </th>

        <th>
          Description
        </th>

        <th>
          More Details
        </th>
      </tr>

      <% @list_of_vendors.each do |a_vendor| %>
      <tr>

        <td class="lead">
          <%= a_vendor.name %>
        </td>

        <td>
          <%= a_vendor.category %>
        </td>

        <td>
          <%= a_vendor.geography %>
        </td>

        <td>
          <%= a_vendor.description %>
        </td>

        <td>
          <a href="/vendors/<%= a_vendor.id %>">
            Show details
          </a>
        </td>
    <% if @current_user != nil %>
        <td>
          <% current_user_bookmarks = Bookmark.where({ :vendor_id => a_vendor.id}).where({ :fan_id => session.fetch(:user_id) }) %>

          <% the_bookmark = current_user_bookmarks.at(0) %>

          <% if current_user_bookmarks.count == 0 %>
            <form action="/add_bookmark">
      
            <input type="hidden" name="the_vendor_id" value="<%= a_vendor.id %>">
            <button>Save to Favorites</button>
            </form>
         <% else %>

          <a href="/delete_bookmark/<%= the_bookmark.id %>">Remove from Favorites</a>
          <% end %>
          </td>
    <% end %>
      
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new vendor
    </h2>

    <form action="/insert_vendor" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="category_box">
          Category
        </label>

        <input type="text" id="category_box" name="query_category">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description" rows="3"></textarea>
      </div>

      <div>
        <label for="website_box">
          Website
        </label>

        <input type="text" id="website_box" name="query_website">
      </div>

      <div>
        <label for="geography_box">
          Geography
        </label>

        <input type="text" id="geography_box" name="query_geography">
      </div>

      <button>
        Create vendor
      </button>
    </form>
  </div>
</div>
