<div>
  <div>
    <h1>
      Wedding Vendors
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <table class="table table-bordered">

        <th>
          Name
        </th>

        <th>
          Category
        </th>

        <th>
          Geography
        </th>

        <th>
          Description
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_vendors.each do |a_vendor| %>
      <tr>

        <td class="lead">
          <%= a_vendor.name %>
        </td>

        <td>
          <%= a_vendor.category %>
        </td>

        <td>
          <%= a_vendor.geography %>
        </td>

        <td>
          <%= a_vendor.description %>
        </td>

        <td>
          <a href="/vendors/<%= a_vendor.id %>" type="button" class="btn btn-outline-primary">
            Show details
          </a>
        </td>
    <% if @current_user != nil %>
        <td>
          <% current_user_bookmarks = Bookmark.where({ :vendor_id => a_vendor.id}).where({ :fan_id => session.fetch(:user_id) }) %>

          <% the_bookmark = current_user_bookmarks.at(0) %>

          <% if current_user_bookmarks.count == 0 %>
            <form action="/add_bookmark">
      
            <input type="hidden" name="the_vendor_id" value="<%= a_vendor.id %>">
            <button class="btn btn-outline-success">Save to Favorites</button>
            </form>
         <% else %>

          <a href="/delete_bookmark/<%= the_bookmark.id %>" type="button" class="btn btn-outline-secondary">Remove from Favorites</a>
          <% end %>
          </td>
    <% end %>
      
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new vendor
    </h2>

 <form action="/insert_vendor" method="post">
      <div class="row mb-3">
        <label for="name_box" class="col-sm-2 col-form-label">
          Name
        </label>
        <div class="col-sm-10">
        <input type="text" id="name_box" name="query_name" class="form-control">
        </div>
        </div>

      <div class="row mb-3">
        <label for="category_box" class="col-sm-2 col-form-label">
          Category
        </label>
<div class="col-sm-10">
        <input class="form-control" type="text" id="category_box" name="query_category">
      </div>
      </div>

      <div class="row mb-3">
        <label for="description_box" class="col-sm-2 col-form-label">
          Description
        </label>
<div class="col-sm-10">
        <textarea class="form-control" id="description_box" name="query_description" rows="3"></textarea>
      </div>
      </div>

      <div class="row mb-3" >
        <label for="website_box" class="col-sm-2 col-form-label" >
          Website
        </label>
<div class="col-sm-10">
        <input type="text" id="website_box" name="query_website" class="form-control">
      </div>
      </div>

      <div class="row mb-3">
        <label for="geography_box" class="col-sm-2 col-form-label">
          Geography
        </label>
<div class="col-sm-10">
        <input type="text" id="geography_box" name="query_geography" class="form-control">
      </div>
      </div>

      <button class="btn btn-outline-dark">
        Create vendor
      </button>
    </form>
  </div>
</div>
