<div>
  <div>
    <h1>
      <%= @the_vendor.name %> 
    </h1>

<p>
  <% if @current_user != nil %>
    <% current_user_bookmarks = Bookmark.where({ :vendor_id => @the_vendor.id}).where({ :fan_id => session.fetch(:user_id) }) %>

    <% the_bookmark = current_user_bookmarks.at(0) %>

    <% if current_user_bookmarks.count == 0 %>
      <form action="/add_bookmark">
      
        <input type="hidden" name="the_vendor_id" value="<%= @the_vendor.id %>">
        <button class="btn btn-outline-secondary">Save Vendor to Favorites!</button>
      </form>
    <% else %>

      <a href="/delete_bookmark/<%= the_bookmark.id %>" type="button" class="btn btn-outline-secondary">Remove from Favorites</a>
    <% end %>
  <% end %>
 
  </p>

    <dl>
      <dt>
        Category
      </dt>
      <dd>
        <%= @the_vendor.category %>
      </dd>

      <dt>
        Geography
      </dt>
      <dd>
        <%= @the_vendor.geography %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_vendor.description %>
      </dd>

      <dt>
        Website
      </dt>
      <dd>
        <a href="<%= @the_vendor.website %>" target="_blank"><%= @the_vendor.website %></a>
      </dd>
    </dl>
  </div>
</div>

<hr>
<h2>Reviews & Comments</h2>

<p>
  <% if @the_vendor.comments.count == 0 %>
  <% else %>
      <table class="table table-bordered">
        <tr>
          <th>Reviewer</th>
          <th>Review</th>
          <th>Posted</th>
          <th></th>
          <th></th>
        </tr>

          <% @the_vendor.comments.each do |comment| %>
            <tr>
              <td>
                <%= comment.author.first_name %>
              </td>

              <td>
                <%= comment.body %>
              </td>

              <td>
                <%= comment.created_at %>
              </td>

              <% if comment.author.id == session.fetch( :user_id )%>
                <td>
                  <a href="/delete_comment/<%= comment.id %>;">
                    Delete this comment
                  </a>
                </td>
              <% end %>
            </tr>
          <% end %>
      </table>
    <% end %>
      
      <p>
      <h5>Add a Review</h5>

      <form action="/insert_comment" method="post">
        <input id="query_vendor_id" type="hidden" value="<%= @the_vendor.id %>" name="query_vendor_id">

        <textarea class="form-control" id="query_body" name="query_body" placeholder="Enter a review..."></textarea>

        <button class="btn btn-outline-secondary">Add Review</button>
      </form>
      </p>


<hr>

<div>
  <div>
    <h5>
      Edit vendor
    </h5>
  </div>

    <form action="/modify_vendor/<%= @the_vendor.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input class="form-control" type="text" id="name_box" name="query_name" value="<%= @the_vendor.name %>">
      </div>

      <div>
        <label for="category_box">
          Category
        </label>

        <input class="form-control" type="text" id="category_box" name="query_category" value="<%= @the_vendor.category %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea class="form-control" id="description_box" name="query_description"><%= @the_vendor.description %></textarea>
      </div>

      <div>
        <label for="website_box">
          Website
        </label>

        <input class="form-control" type="text" id="website_box" name="query_website" value="<%= @the_vendor.website %>">
      </div>

      <div>
        <label for="geography_box">
          Geography
        </label>

        <input class="form-control" type="text" id="geography_box" name="query_geography" value="<%= @the_vendor.geography %>">
      </div>

      <p>
      <button type="button" class="btn btn-outline-secondary">
        Update vendor
      </button>
      </p>
    </form>

</div>



  <div>
    <button type="button" class="btn btn-outline-secondary">
    <a href="/delete_vendor/<%= @the_vendor.id %>">
      Delete vendor
    </a>
    </button>
  </div>


  <div>
    <dl>
      <dt>
        Created
      </dt>
      <dd>
        <%= time_ago_in_words(@the_vendor.created_at) %> ago
      </dd>

      <dt>
        Updated
      </dt>
      <dd>
        <%= time_ago_in_words(@the_vendor.updated_at) %> ago
      </dd>
    </dl>
  </div>


<hr>
