<!DOCTYPE html>
<html>
  <head>
    <title>Base Rails</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <link rel="stylesheet" href="/my_styles.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@400;500;600;700&display=swap" rel="stylesheet">  
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

  </head>

  <body>

  <div class="container">


  <div class="d-flex justify-content-between align-items-center">
  <% if session.fetch(:user_id) == nil %>
      <div class="bi bi-person-fill-add">
        <a href="/user_sign_up">Sign Up</a>
      </div>

      <div class="bi bi-person-fill-check">
        <a href="/user_sign_in">Sign In</a>
      </div>
      <div class="bi bi-house-gear-fill">
        <a href="/">Home</a>
      </div>
      <div class="bi bi-building">
        <a href="/vendors">All Vendors</a>
      </div>
      <div class="bi bi-building-add">
        <a href="/add_vendor">Add a Vendor</a>
      </div>

      <% else %>
      <% @current_user = User.where({ :id => session[:user_id] }).at(0) %>
      <div>
        <a href="/bookmarks/<%= @current_user.id %>">Bookmarks</a>
      </div>
      <div class="bi bi-person-gear">
        <a href="/user_sign_out">Sign Out</a>
      </div>
      <div class="bi bi-house-gear-fill">
        <a href="/">Home</a>
      </div>
      <div class="bi bi-building">
        <a href="/vendors">All Vendors</a>
      </div>
      <div class="bi bi-building-add">
        <a href="/add_vendor">Add a Vendor</a>
      </div>
    <% end %>
  </div>

  </div>

    <p style="color: green"> <%= notice %> </p>
    <p style="color: red"> <%= alert %> </p>
    <%= yield %>
  </body>
</html>
